/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./css/main.css ***!
  \****************************************************************/
.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.show {
    display: block;
}

.date-diff-btn {
    padding: 10px;
    border-radius: 50px;
}

.datediff {
    width: 500px;
    padding: 10px;
    border: 1px solid #111;
    border-radius: 50px;
}

.cont-timer {
    border: 1px solid black;
    width: 500px;
    height: 150px;
    padding: 10px;
    border-radius: 50px;
}

.timer-btn {
    padding: 10px;
    border-radius: 50px;
}
